
<h1> List of bookmarks </h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <a href= "<%= bookmark.url %>" >
      <%= bookmark.title %>
      <form action="/bookmarks/delete" method="get">
        <input type="submit" name=<%= bookmark.id %> value="Delete"/>
      </form>
      <form action="/bookmarks/edit" method="get">
        <input type="submit" name="e<%= bookmark.id %>" value="Edit">
      </form>
    </a>
  </li>
  <% end %>

</ul>

<form action="/add_bookmarks">
  <input type="submit" value="Add"/>
</form>
